body {
  background-color: hsl(233, 47%, 7%);
  font-family: 'Roboto', sans-serif;
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: violet;
}

.attribution a {
  color: hsl(229, 11%, 61%);
}

.main {
  background-color: hsl(244, 38%, 16%);
  width: 70%;
  margin: 100px auto;
  /* padding: 50px; */
  border-radius: 9px;
  height: 400px;
  position: relative;
  display: block;
}

#insights {
  color: hsl(277, 64%, 61%);
}

.parent {
  position: absolute;
  top: 0;
  height: 400px;
  margin-top: 0;
  margin-right: 0;
  right: 0;
}

.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  right: 200px;
  left: 0;
  background-color: hsla(277, 64%, 61%, 0.5);
  border-radius: 0 9px 9px 0;
  width: 484px;
  height: 400px;
}

.image-header {
  float: right;
  height: 400px;
  margin-top: 0;
  margin-right: 0;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 9px 9px 0;
  color: hsl(277, 64%, 61%);
}

h1 {
  color: white;
  margin-top: 50px;
  margin-left: 40px;
  margin-bottom: 0;
  padding-top: 30px;
}

p {
  color: hsla(0, 0%, 100%, 0.4);
  display: inline-block;
  font-weight: 100;
  margin: 60px 30px 30px 40px;
}

.attribution {
  font-size: 0.8rem;
  position: absolute;
  display: block;
  /* padding-bottom: 50px; */
  /* top: 100px; */
  bottom: 30px;
  right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.feature {
  display: inline-block;
  margin: 40px 40px;
  font-size: 1.5rem;
}

.item {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 0.7em;
}

a {
  text-decoration: none;
}

a:hover {
  color: #827397;
}
